body {
   padding-top:2rem;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #777;
    font-size: 16px;
    font-weight: 400;
}
a {
    color: #3157a6;
    text-decoration: none;
}
.text-primary {
    color: #3157a6!important;
}

.wrap{
box-sizing:border-box;
margin:auto;
max-width:100%;
width:100%;
display:block;
overflow: hidden;
}
.bshdow{
 background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0px 5px 12px 3px #2196f312;
  -webkit-box-shadow: 0px 5px 12px 3px #2196f312;
  -moz-box-shadow: 0px 5px 12px 3px #2196f312;
  }
.list-group-item {
border: 0px solid rgb(0 0 0 / 0%) !important;
border-bottom: 3px solid #7a87ca14!important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 5px;;
}
.crd{
background-color:#1f499eeb;
color:#fff;
padding :1em;
}
.btn-primary {
    color: #fff;
    background-color: #3157a6;
    border-color: #3157a6;}
.btn-primary::focus{
  color: #fff;
    background-color: #3157a6;
    border-color: #3157a6;
}
.table-responsive {
   max-height: 511px;
}
.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.mttp{
margin-top:1rem
}
.crd-hd{
background-color: rgb(108 117 125 / 0%);
    border-bottom: 1px solid rgb(0 0 0 / 0%);
}